<style>
    .post-preview .post-meta a,
    .post-heading .post-meta a,
    .post-preview .post-entry a,
    .post-heading .post-entry a,
    .page-meta a {
        color: #008AFF;
        text-decoration: none;
    }
    .post-preview .post-meta a:hover,
    .post-heading .post-meta a:hover,
    .post-preview .post-entry a:hover,
    .post-heading .post-entry a:hover,
    .post-preview a:hover .post-title,
    .page-meta a:hover {
        color: #0085a1;
        text-decoration: none;
        text-decoration: underline;
    }
    .post-preview .post-entry .post-read-more {
        color: #404040
    }
</style>
<article class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">{{ .Title }}</h2>
        {{ if .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ .Params.subtitle }}
        </h3>
        {{ end }}
        {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-title" />
        {{ end }}
        {{ if .Params.video }}
        <video loop autoplay muted playsinline class="img-title">
            <source src="{{ .Params.video }}">
        </video>
        {{ end }}
    </a>

    <p class="post-meta">
        {{ partial "post_meta.html" . }}
    </p>
    <div class="post-entry">
        {{ if .Truncated }}
        {{ .Summary }}
        <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
        {{ else }}
        {{ .Content }}
        {{ end }}
    </div>

    {{ if .Params.tags }}
    <div class="blog-tags">
        {{ range .Params.tags }}
        <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
    </div>
    {{ end }}

</article>